$title-font-family:  Georgia, serif;
$title-font-size: 75px;
$title-font-size-mobile: 35px;
$title-font-color: white;

@media only screen and (min-width: 1230px) {
  body {
    .ProfileCircle {
      margin: auto;
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    }

    .ProfileImg {
      width: 100%;
      height: auto;
    }

    .TitleFont {
      font-family: $title-font-family;
      font-size: $title-font-size;
      color: $title-font-color;
      text-align: center;
      margin-top: 30%;
    }

    .TitleCircle {
      border-radius: 50%;
      width: 450px;
      height: 450px;
      float: left;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    }

    .NameFont {
      font-family: $title-font-family;
      font-size: $title-font-size;
      color: $title-font-color;
      text-align: center;
      margin-top: 15%;
    }

    .NameCircle {
      border-radius: 50%;
      width: 300px;
      height: 300px;
      float: right;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    }
  }
}

@media only screen and (max-width: 1229px) {
  body {
    .ProfileCircle {
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      margin: auto auto 5%;
    }

    .ProfileImg {
      width: 100%;
      height: auto;
    }

    .TitleFont {
      display: block;
      padding-top: 45px;
      font-family: $title-font-family;
      font-size: $title-font-size-mobile;
      color: $title-font-color;
      text-align: center;
    }

    .TitleCircle {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background: rgba(0, 0, 0, 0.3);
      margin: auto auto 20%;
    }

    .NameFont {
      display: block;
      padding-top: 45px;
      font-family: $title-font-family;
      font-size: $title-font-size-mobile;
      color: $title-font-color;
      text-align: center;
    }

    .NameCircle {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      background: rgba(0, 0, 0, 0.3);
      margin: auto auto 5%;
    }
  }
}
