@import url('https://fonts.googleapis.com/css?family=Sora&effect=emboss|outline');
@import './resources/scss/_main.scss';

* {
  box-sizing: border-box;
}

.backdrop {
  height: 100vh;
  background-image: url('./resources/images/annie-spratt-gM8igOIP5MA-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .backdrop {
    height: 128vh;
    background-image: url('./resources/images/annie-spratt-gM8igOIP5MA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}